.mceButtonLink {
  background-color:#e4778d;
  border-radius:50px;
  border:3px solid #ffffff;
  color:#000000;
  display:block;
  font-family:'Marcellus', serif;
  font-size:20px;
  font-weight:bold;
  font-style:normal;
  padding:16px 28px;
  text-decoration:none;
  text-align:center;
  letter-spacing:4px;
  cursor:pointer;
  width: fit-content;
  margin: 20px auto;
}

#carruselFotos {
  display: none; /* Oculto por defecto */
  margin-top: 30px;
}

/* El área del carrusel tendrá altura fija */
.carousel-item {
  height: 400px;      /* altura en escritorio */
  position: relative; /* necesario para controlar la imagen */
  overflow: hidden;   /* evita que algo se salga */
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* recorta sin deformar */
  border-radius: 10px;
}

/* Versión responsiva para móviles */
@media (max-width: 576px) {
  .carousel-item {
    height: 250px; /* más bajo en celular */
  }
}

